.app-wrapper {
    min-height: 100vh;
    display: flex;
    background: url("../images/admin/carabin_bg4.png");
    background-color: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(103,110,128,0.5886729691876751) 50%, rgba(251,0,83,1) 100%);
    background-size: cover;
}