.video__wrapper {
    padding: 5% 0;
}

.video {
    width:100%;
    display: flex;
    justify-content: center;
}

.frame {
    @include desktopMini() {
        width: 615px;
        height: 315px;
    }
}